@import "bootstrap-sass/lib/bootstrap";

body {
    background: #fafafa;
}

.submit-button {
    @extend .btn;
    @extend .btn-success;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.collection-item {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: thin solid grey;
}
