<div class="add-book-view-wrapper">
    <div class="add-book-view-container">
        <h3>Add book</h3>
        <form id="add-book">
            <dl class="details">
                <dt><label for="add-book-title">Title</label></dt>
                <dd><input id="add-book-title" name="title" type="text"></dd>
            </dl>
            <div class="submit-container container">
                <button id="submit-add-book" type="submit" class="submit-button">Add book</button>
            </div>
        </form>
    </div>
</div>
