<li class="books-collection-item book-item collection-item">
    <div class="book-view-wrapper">
        <div class="book-view-container">
            <h3>Book {{attributes.id}}</h3>
            <dl class="details">
                <dt>Title</dt>
                <dd>{{attributes.title}}</dd>
            </dl>
        </div>
    </div>
</li>
